<div class="row">
  <div class="col-6">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input
            formControlName="name"
            type="name"
            class="form-control"
            [class.is-valid]="nameControl?.valid"
            [class.is-invalid]="nameControl?.invalid"
            id="inputName3"
          />
          <div *ngIf="nameControl?.hasError('noBoy')" class="invalid-feedback is-invalid"> No se admiten niños pendejos</div>
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputLastName3" class="col-sm-2 col-form-label"
          >Last Name</label
        >
        <div class="col-sm-10">
          <input
            formControlName="lastName"
            type="lastName"
            class="form-control"
            [ngClass]="lastNameControl?.valid ? 'is-valid' : 'is-invalid'"
            id="inputLastName3"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Password</label
        >
        <div class="col-sm-10">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            [ngClass]="passwordControl?.valid ? 'is-valid' : 'is-invalid'"
            id="inputPassword3"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input
            formControlName="email"
            type="email"
            class="form-control"
            [ngClass]="emailControl?.valid ? 'is-valid' : 'is-invalid'"
            id="inputEmail3"
          />
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
  </div>
  <div class="col-6">
    <pre>{{ formulario.status }}</pre>
    <pre>{{ formulario.value | json }}</pre>
  </div>
</div>
